
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/assets/css/custom.css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{ if .success }}
    <div class="alert alert-success" role="alert">
        {{ .success }}
        {{ .UserData}}
    </div>
{{ end }}
{{if .error}}
    <div class="alert alert-danger" role="alert">
        {{ .error }}
    </div>
{{end}}
<div class="container register-form">
    <form METHOD="POST" ACTION="/login" id="loginfrom">
        <div class="form">
            <div class="note">
                <p>登入頁面{{ .UserData}}</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="使用者名稱" id="username" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="密碼" id="password" name="password" value=""/>
                        </div>
                    </div>
                </div>
                <button onClick = "processFormData()" class="btnSubmit">建立</button>
                <button onClick = "processFormData3()" class="btnSubmit">登入</button>
                <button onClick = "processFormData2()" class="btnSubmit">刪除</button>
                <button onClick = "processFormData4()" class="btnSubmit">登出</button>
                <button onClick = "processFormData5()" class="btnSubmit">查看自己</button>
                <a class="nav-link active" aria-current="page" href="/">
                <span data-feather="home"></span>
                login
                </a>
            </div>
        </div>
    </form>
</div>
<script type = "text/javascript">
    function processFormData() {
      var form = document.getElementById("loginfrom");
      form.action = "/login/create";
      form.submit();
      }
    function processFormData2() {
      var form = document.getElementById("loginfrom");
      form.action = "/login/delete";
      form.submit();
      }
      function processFormData3() {
      var form = document.getElementById("loginfrom");
      form.action = "/login/login";
      form.submit();
      }
      function processFormData4() {
      var form = document.getElementById("loginfrom");
      form.action = "/login/logout";
      form.submit();
      }
      function processFormData5() {
      var form = document.getElementById("loginfrom");
      form.action = "/login/user/me";
      form.submit();
      }
    </script>